html{
height: 100%;
}

body{
    background-color: #f5f5f5;
	background: #eceff4;
    background: -webkit-gradient(linear, 0 100%, 0 0, from(#eceff4), color-stop(0, #eaedf2), color-stop(0.12, #eceff4), color-stop(0.16, #f0f1f6), color-stop(0.2, #f0f1f5), color-stop(0.41, #f7f8fc), color-stop(0.44, #f7f8fa), color-stop(0.55, #fcfcfe), color-stop(0.59, #fcfcfc), color-stop(0.69, #ffffff), to(#ffffff));
	background: -webkit-linear-gradient(#eceff4 0%, #eaedf2 0%, #eceff4 12%, #f0f1f6 16%, #f0f1f5 20%, #f7f8fc 41%, #f7f8fa 44%, #fcfcfe 55%, #fcfcfc 59%, #ffffff 69%, #ffffff 100%);
	background: -moz-linear-gradient(#eceff4 0%, #eaedf2 0%, #eceff4 12%, #f0f1f6 16%, #f0f1f5 20%, #f7f8fc 41%, #f7f8fa 44%, #fcfcfe 55%, #fcfcfc 59%, #ffffff 69%, #ffffff 100%);
	background: -o-linear-gradient(#eceff4 0%, #eaedf2 0%, #eceff4 12%, #f0f1f6 16%, #f0f1f5 20%, #f7f8fc 41%, #f7f8fa 44%, #fcfcfe 55%, #fcfcfc 59%, #ffffff 69%, #ffffff 100%);
	background: linear-gradient(#eceff4 0%, #eaedf2 0%, #eceff4 12%, #f0f1f6 16%, #f0f1f5 20%, #f7f8fc 41%, #f7f8fa 44%, #fcfcfe 55%, #fcfcfc 59%, #ffffff 69%, #ffffff 100%);

	color: #000;
	font: 13px/15px Arial, Helvetica, sans-serif;
	margin: 0;
	-webkit-text-size-adjust: 100%;
    height: 100%;
    }

input[type='text'], input[type='password'], input[type='email'], select, textarea {
-webkit-border-radius: 6px/6px 6px 7px 7px;
-moz-border-radius: 6px/6px 6px 7px 7px;
border-radius: 6px/6px 6px 7px 7px;
background-color: #f8f8f8;
width: 100%;
height: 34px;
padding: 6px 12px;
}



label{
font-weight:normal;
color:#41557d;
}

.container-login {
width: 480px;
height: 530px;
position: absolute;
left: 50%;
top: 50%;
margin-left: -240px;
margin-top: -260px;
background: #004f8d;
border: 1px solid #ececed;
}

.login_description{
color:#fff;
text-align:center;
padding: 20px 30px 25px 30px;
font-size:15px;
}

.login_footer{
	background: #005596;
	background-image: -moz-linear-gradient(top, #005596 0%, #005494 20%, #004c86 61%, #00477f 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#005596), color-stop(20%,#005494), color-stop(61%,#004c86), color-stop(100%,#00477f));
	background-image: -webkit-linear-gradient(top, #005596 0%,#005494 20%,#004c86 61%,#00477f 100%);
	background-image: -o-linear-gradient(top, #005596 0%,#005494 20%,#004c86 61%,#00477f 100%);
	background-image: -ms-linear-gradient(top, #005596 0%,#005494 20%,#004c86 61%,#00477f 100%);
	background-image: linear-gradient(to bottom, #005596 0%,#005494 20%,#004c86 61%,#00477f 100%);
	-webkit-border-radius: 4px 4px 0 0;
	border-top: 1px solid #88b0ce;
    padding: 40px 100px 20px 100px;
}


.login_footer label{
    color:#fff;
    font-size:16px;
}

.logo_wrapper{
background:#fff;
height:200px;
padding: 40px;
}

.logo{
background: url(../image/sprite.png) no-repeat 0 -3px;
float: left;
height: 115px;
margin: 0;
overflow: hidden;
position: relative;
text-indent: -9999px;
width: 400px;
}

.container-center {
margin: 0 auto;
text-align: center;
padding-top: 15px;
}

.form-control {
  border: 2px solid #e8ebed;
  border-radius: 2px;
  box-shadow: none;
  height: 37px;
  padding: 8px 12px 9px 12px;
}
.form-control:focus {
  background: #fff;
  border-color: #556b8d;
  box-shadow: none;
}
select.input-sm,
select.form-group-sm .form-control {
  height: auto;
}
